* text=auto
*.py text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.pkl binary
*.npz binary
*.npy binary
*.pt binary
*.pth binary
*.bin binary
*.safetensors binary
